@use './../base//variables' as vars;

.secondaryText {
  font-family: vars.$ff-sniglet, system-ui;
  color: #faf4fe;
  text-align: center;

  &--color1 {
    color: vars.$link-color;
  }
}

.txtGradient {
  .secondaryText {
    background-image: linear-gradient(32deg, #24b9d8, #24b9d8, #ac1ab2 72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.error-txt {
  font-size: 14px;
  color: vars.$error;
}

.contentHeader2 {
  font-family: vars.$ff-helvetica;
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.txtLabel {
  width: fit-content;
  padding: 2px 4px;
  color: #d3dbd7;
  border: 2px solid #969b99;
  background: #7f7f7f;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;

  &--round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    filter: brightness(1.3) saturate(1.5);
  }

  &--success {
    color: #96f0c6;
    border: 2px solid #4b987b;
    background: linear-gradient(280deg,#056b34, #056b34, #056934);
  }

  &--error {
    color: #fdb4b4;
    border: 2px solid #71252c;
    background: #681619;
  }

  &--warning {
    color: #fec107;
    border: 2px solid #ff8e01;
    background: #6f5117;
  }
  
  &--info {
    color: #50cbc7;
    border: 2px solid #488987;
    background: #266664;
  }
}