.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/main-bg.png');
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: vars.$bg-main;
  
  @media (max-width: 911px) {
    background-position: 10% 65%;
    align-items: flex-start;
  }
}

.card {
  width: 100%;
  max-width: 440px;
  background-color: vars.$bg-card;
  border-radius: 2rem;
  padding: 2.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.05);

  .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: vars.$ff-gochi-hand, cursive;
    font-size: 68px;
    color: transparent;
    letter-spacing: -0.025em;
    font-weight: 700;
    background-image: url('../../assets/images/textures/grunge-texture2.png');
    background-size: cover;
    background-clip: text;

    & + p {
      color: vars.$f-color-card;
      margin-bottom: 16px;
    }
  }

    @media (max-width: 911px) {
      max-width: 300px;
      backdrop-filter: blur(4px);
      background-color: rgb(30 33 40 / 80%);
      padding: 1.5rem;
      margin-top: 30%;

      .title {
        font-size: 55px;
      }
    }
}