.dashboardGrid {
  display: grid;
  grid-template-columns: 280px 1fr 225px;
  grid-template-rows: 1fr auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.barChartContainer {
  width: 280px;
  height: 245px;
}

.panelBox {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contentPanelMain {
  display: grid;
  gap: 10px;
  width: calc(100% - 40px);
  grid-template-columns: 1fr 1fr;
  max-width: 450px;
}