@use "sass:color";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: vars.$bg-input inset !important;
  -webkit-text-fill-color: vars.$color-grey !important;
  transition: background-color 5000s ease-in-out 0s;
}

.inputGroup {
  position: relative;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: vars.$color-grey;
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  font-size: 1rem;
  color: vars.$color-grey;
  border: none;
  border-radius: 0.75rem;
  background-color: vars.$bg-input;
  transition: all 0.2s ease;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(157, 0, 255, 0.7);
  }

  &.hasError {
    box-shadow: 0 0 0 2px vars.$error;
  }
}