.dataNodeCard {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  height: 40px;
  background-color: #191e2e;
}

.dataNodeIcon {
  width: 35px;
  height: 35px;
  margin-right: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.dataNodeTitle,
.dataNodeValue {
  font-family: vars.$ff-google-sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #eff5f7;
  text-transform: capitalize;

  &--lg {
    font-size: 30px;
  }
}

.dataNodeDetails {
  margin-right: 5px;
  
  & p {
    margin: 0;
  }
}

.dataNodeNote {
  align-self: end;
  font-size: 14px;
  color: #eff5f7;

  &.positive {
    color: #c5654a;
  }

  &.negative {}
}
.statusIndicator {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
  }

  &--up {
    color: #22c55e;
  }
  &--up:before {
    background-color: #22c55e;
  }

  &--down {
    color: #ef4444;
  }

  &--down:before {
    background-color: #ef4444;
  }
}

.chevron {
  color: #eff5f7;
  transition: all 0.3s ease;

  &--active {
    transform: rotate(180deg);
  }
}