.submitBtn {
  width: 100%;
  background-color: vars.$color-blue;
  background: linear-gradient(135deg, #9d00ffbf, #ff20aea3);
  color: white;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.98);
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnIcon {
  margin-right: 10px;
}

.btnLogout {
  width: auto;
  height: 100%;
  color: #ffffffde;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 0 0 2px #707f9b;
  background: rgb(25, 30, 46, 0.5);
}