.contentPanel {
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 2px solid rgba(129, 32, 182, 0.6);
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  z-index: 11;
}

.collapsibleContent {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.4s ease, opacity 0.3s ease;
  opacity: 1;
}

.collapsed {
  .collapsibleContent {
    grid-template-rows: 0fr;
    padding-top: 0;
    opacity: 0;
    pointer-events: none;
  }

  .innerPadding {
    padding-bottom: 0;
  }
}

.collapsed {
  .сontentPanelHeader {
    margin-bottom: 0;
  }
}

.innerPadding {
  min-height: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.calendarWrapper {
  @include mixins.scrolled-container(grey, violet);

  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  max-height: calc(85vh - 90px);
  margin: 0 auto;
  padding: 0 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.contentPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-family: vars.$ff-helvetica;
    font-size: 20px;
    color: #fff;
  }
}

.contenCloseBtn {
  @include mixins.button-reset();
}

.closePanelIcon {
  color: #fff;
  transform: rotate(45deg);
  transition: 0.3s ease;

  &--opened {
    transform: rotate(0deg);
  }
}