.header {
  position: relative;
  display: grid;
  grid-template-columns: 180px 160px 225px 196px 1fr;
  // align-items: stretch;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  background-color: transparent;
  box-sizing: border-box;
}

.headerLastItem {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: end;
  z-index: 2;
}

.alertBox {
  position: relative;
  max-width: 500px;
}

.alertWrapperImg {
  position: absolute;
  top: -10px;
  left: -10px;
}

.alertText {
  position: absolute;
  top: -5px;
  left: -10px;
  width: 100%;
  font-family: vars.$ff-caveat-brush;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(358deg);
  z-index: 2;

  @media (max-width: 1279px) {
    top: 0;
    font-size: 20px;
  }

  @media (max-width: 1151px) {
    display: none;
  }
}

.disabledNode {
  pointer-events: none;
  opacity: 0.5;
}