.calendarWrapper {
  width: 225px;
  color: white;
  background-color: #2d3146;
}

.caption {
  padding: 6px 15px;
  font-family: vars.$ff-lilita-one, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: #1f2537;
}

.day {
  width: 30px;
  height: 30px;
  font-family: vars.$ff-shantell-sans, cursive;
  font-size: 12px;

  &:hover {
    transform: rotate(0deg) scale(1.05);
    z-index: 10;
  }
}

.weekday {
  padding: 5px;
  font-family: vars.$ff-shantell-sans, cursive;
  font-weight: 400;
  font-size: 12px;
}

.headCell {
  width: 30px;
  height: 30px;
}

.day button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.daySelected {
  color: #56f498;
}

.chevron {
  fill: white;
  width: 22px;
}

.nav {
  position: absolute;
  display: flex;
  top: 6px;
  right: 20px;
  inset-inline-end: 10px;
  height: 20px;
  gap: 5px;

  & button {
    width: 20px;
    height: 20px;
  }
}

.emptyCell {
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  border-radius: 10px;
  background: linear-gradient(25deg,#171f33,#2a3652);
  opacity: 0.6;
}

:global(.rdp-hidden) {
  visibility: visible;
}

:global(.rdp-outside) {
  opacity: 0.6;
  pointer-events: none;
  background: linear-gradient(25deg, #697695, #2a3652);
  border: 2px solid #222;
  border-radius: 10px;
  color: transparent;
  box-shadow: none;
}

:global(.rdp-hidden:nth-child(3n + 1)) {
  background: linear-gradient(25deg, #171f33, #2a3652);
  transform: rotate(-2deg);
  opacity: 0.6;
  border-radius: 10px;
}

:global(.rdp-hidden:nth-child(3n + 2)) {
  background: linear-gradient(25deg, #2a3652, #42526f);
  transform: rotate(3deg);
  opacity: 0.55;
  border-radius: 12px;
}

:global(.rdp-hidden:nth-child(3n + 3)) {
  background: linear-gradient(25deg, #42526f, #595e76);
  transform: rotate(-1deg);
  opacity: 0.5;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .calendarWrapper {
    width: 300px;
  }

  :global(.rdp-months),
  :global(.rdp-month),
  :global(.rdp-month_grid) {
    width: 100%;
  }

  :global(.rdp-months) {
    max-width: initial;
  }

  .day {
    width: 40px;
    height: 40px;
  }

  .day button {
    width: 40px!important;
    height: 40px!important;
  }

  .emptyCell {
    width: 40px;
    height: 40px;
  }
}