.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .inputGroup {
    position: relative;
    
    .icon {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: vars.$color-grey;
      pointer-events: none;
    }
  }
}

.helpers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.875rem;
}

.formControlsWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  gap: 1rem;

  @media (max-width: 911px) {
    width: 90%;
  }
}

.authBtnW {
  display: flex;
  align-self: center;
  width: 75%;
  margin-top: 10px;
}

.hiddenCreds {
  position: absolute;
  right: -250px;
  top: 0;
  font-family: vars.$ff-gochi-hand, cursive;
  font-size: 20px;
  color: vars.$color-pinky;
  transform: rotate(-14deg);
  transition: opacity 300ms ease, transform 300ms ease;
  
  p {
    margin: 0;
  }

  &.hide {
    animation: hiddenCredsFadeOut 3s forwards;
  }
}

@keyframes hiddenCredsFadeOut {
  from {opacity: 1};
  to {opacity: 0};
}

.errStamp {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 10px;
  font-size: 35px;
  font-weight: 700;
  color: vars.$color-stamp;
  border: 7px solid vars.$color-stamp;
  border-radius: 10px;
  text-transform: uppercase;
  animation: stamp 0.5s forwards;
  opacity: 0;
}

@keyframes stamp {
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-5deg) scale(4);
    transition: all .3s ease;
  }
  100%{
    opacity:1;
    transform: rotate(-15deg) scale(1);
  }
}

.hintBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.disabled {
    pointer-events: none;

    .hintBtnWrapper {
      &::before {
        content: '';
        position: absolute;
        top: 8px;
        width: 100%;
        height: 2px;
        background-color: rgb(186, 82, 82);
        transform: rotate(350deg);
      }
    }
  }
}

.hintBtnWrapper {
  position: relative;
}

.desktopOnlyTxt {
  margin-top: 5px;
  font-family: vars.$ff-gochi-hand;
  font-size: 12px;
  color: rgb(186, 82, 82);
}

.credsBtn {
  filter: blur(0);
  pointer-events: auto;
  transition: filter 0.6s ease-in;

  &--disabled {
    filter: blur(3px);
    pointer-events: none;
  }
}