.barCommentBox {
  position: relative;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  min-height: 20px;
  background-color: #1f2537;

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 4px);
    background: vars.$bg-statusbar-layer;
    background-size: 300% 300%;
    box-shadow: 0 0 10px rgb(80, 115, 184, 0.4);
    z-index: -1;
  }
}

.barCoomentIcon {
  margin-right: 10px;
}

.barComment {
  flex: 1;
  font-family: vars.$ff-helvetica;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}