.cardContainer {
  position: relative;
  background-color: #1f2537;
  width: 100%;
  z-index: 1;
}

.cardContainerHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
}

.cardIconSlot {
  position: absolute;
  left: 15px;
}

.cardTitleBox {
  display: flex;
}

.cardTitle {
  margin: 0;
  font-family: vars.$ff-google-sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #f8fdff;
  text-transform: capitalize;
}

.cardContent {
  min-height: 50px;
  margin: 5px 15px 10px 15px;
}

.cardFooter {
  display: flex;
  padding: 5px 10px;
}

.panelIcon {
  width: 30px;
  height: auto;
}