.tableContainer {
  --grid-layout: 0.3fr 0.4fr 0.5fr 0.3fr 0.8fr 0.2fr;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logsTableRow {
  display: grid;
  grid-template-columns: var(--grid-layout);
  gap: 10px;
  font-family: vars.$ff-shantell-sans;
  color: #fff;
  padding: 10px;
}

.table {
  background: rgba(96, 91, 91, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(96, 91, 91, 0.3);
}

.headerRow {
  font-size: 14px;
  background: rgb(194 62 129 / 20%);
}

.bodyRow {
  font-size: 12px;

  &__cell {
    &:nth-child(3) {
      text-transform: uppercase;
    }
  }
}

.bodyRowMobile {
  font-family: vars.$ff-shantell-sans;
  color: #cdbecc;
}

.emptyRow {
  grid-template-columns: 1fr;
  text-align: center;
}

.cellTitle {
  color: #80d9bd;
}

.statusMarkAlign {
  margin-left: auto;
  margin-right: 20px;
}