.container {
  position: absolute;
  right: 0;
  bottom: -30px;
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: sans-serif;
  z-index: 1;
}

.square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  border: 2px solid transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.15);
  }

  // &.isSelected {
  //   transform: scale(1.15);
  //   border-color: #fff;
  //   outline: 1px solid rgba(0, 0, 0, 0.1);
  // }
  &.isInactive {
    background-color: #e0e0e0 !important;
    box-shadow: none;
    opacity: 0.5;
  }
}

.statusText {
  margin-left: 15px; 
  font-weight: bold;
  color: #555;
}

.container:hover .square:not(:hover) {
  opacity: 0.6;
}