.contentPanelMain {
  width: calc(100% - 40px);
  top: 60px;
}

.contentPanelTitle {
  margin: 0;
  margin-bottom: 10px;
  font-family: vars.$ff-caveat-brush;
  font-size: 35px;
  color: #fff;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(32deg, #26d824, #d89424, #1ab24d 72%);
}