.snowZone {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 300px;
  height: 400px;
  overflow: hidden;
  pointer-events: none;
  z-index: 15;
}

.snowZone span {
  position: absolute;
  top: -40px;
  color: white;
  opacity: 0;
  font-size: 24px;
  // animation: fall-and-fade 5s linear 2;
  animation: fall-and-fade 5s linear infinite;
}

.snowZone span:nth-child(1) { left: 10%; animation-delay: 0s;   opacity: 1; }
.snowZone span:nth-child(2) { left: 30%; animation-delay: 1s; opacity: 0.6; font-size: 18px; }
.snowZone span:nth-child(3) { left: 50%; animation-delay: 0.3s; opacity: 0.9; font-size: 30px; }
.snowZone span:nth-child(4) { left: 70%; animation-delay: 0.7s; opacity: 0.4; font-size: 14px; }
.snowZone span:nth-child(5) { left: 90%; animation-delay: 0.6s; opacity: 0.8; }

@keyframes fall-and-fade {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: inherit;
  }
  90% {
    opacity: inherit;
  }
  100% {
    transform: translateY(400px) rotate(360deg);
    opacity: 0;
  }
}

