.effectContainer {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.title {
  font-family: vars.$ff-caveat-brush, cursive;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: vars.$color-action;

  @media (max-width: 991px) {
    font-size: 60px;
    text-shadow: 1px 0 10px #4d3434;
  }
}