// @use '../../../../app/styles/base/mixins' as m;

.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown {
  @include mixins.scrolled-container(#afa7ac, #5c1f48);
  
  position: absolute;
  top: 30px;
  width: 100%;
  height: 140px;
  background-color: #191e2e;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 100;
}

.dropdownItem {
  display: flex;
  align-items: center;
  font-family: vars.$ff-google-sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #eff5f7;
  text-transform: capitalize;
  list-style: none;
  padding: 5px;
  cursor: pointer;
  overflow-x: hidden;

  &--selected {
    background-color: #5c1f48;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
  }
}