.terminalContainer {
  position: absolute;
  bottom: 25px;
  min-width: 250px;
  max-width: 530px;
  display: flex;
  align-items: center;
  height: 70px;
  margin-left: 10%;
  z-index: 1;

  @media (max-width: 991px) {
    min-width: unset;
    width: calc(100% - 40px);
    left: 50%;
    bottom: 35px;
    margin-left: unset;
    justify-content: center;
    transform: translateX(-50%);
  }
}

.terminalAvatar {
  width: 80px;
  height: auto;
  margin-right: 5px;
  pointer-events: none;

  @media (max-width: 991px) {
    display: none;
  }
}

.terminalSpeechBox {
  position: relative;
  flex: 1;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  background: vars.$bg-terminal-speech;

  &:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -22px;
    width: 40px;
    height: 40px;
    background: vars.$bg-terminal-speech;
    clip-path: polygon(0% 50%, 100% 21%, 100% 80%);
    transform: rotate(319deg);

    @media (max-width: 991px) {
      // display: none;
    }
  }

  @media (max-width: 991px) {
      height: auto;
  }
}

.terminalSpeech {
  position: relative;
  font-family: vars.$ff-shantell-sans, cursive;;
  font-size: 14px;
  color: #020202;
  background: vars.$bg-terminal-speech;
  white-space: pre-line;
  z-index: 1;

  @media (max-width: 991px) {
    height: auto;
  }
}