$bg-main: #13151a;
$bg-main-layer: #463136;
$bg-card: #1e2128;
$bg-terminal-speech: linear-gradient(#e1e1e1, #e0e0e0);
$bg-statusbar-layer: linear-gradient(60deg, #5073b8, #a166ab, #ef4e7b, #ff0055);
$bg-input: #2a2e37;

$color-stamp: #d32f2f;

//fonts
$ff-gochi-hand: "Gochi Hand";
$ff-caveat-brush: "Caveat Brush";
$ff-helvetica: "Helvetica";
$ff-sniglet: "Sniglet";
$ff-google-sans: "Google Sans";
$ff-shantell-sans: "Shantell Sans";
$ff-lilita-one: "Lilita One";

//txt
$f-color-card: #cec6d0;
$color-grey: #9ca3af;
$color-pinky: #b49cb3;
$color-action: rgb(208, 21, 21);
$color-blue: #3b82f6;
$error: #e05a5a;
$link-color: #ceb17e;

//mobile
$burger-link: #f9f5ff;